.catalogue {
  display: flex;
  justify-content: space-between;
}

.card {
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
  margin: 8px;

  &__title {
    font-size: 1.2rem;
  }

  &__image {
    margin: 8px;
  }

  &__button {
    margin-top: 8px;
    background-color: #1fd5db;
    background-image: linear-gradient(150deg, #34bbf0 0%, #1fc5db 25%, #34f0f0 75%);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 8px 16px;
    font-size: 1rem;
  }
}
